<div class="col s12 m12 date-title">
    <div class="card white ">
      <div class="card-content black-text ">
        <div>
          <span class="main-title">
            <p class="card-title "><%= title %></p>
            <p id="setDate" class="" ></p>
          </span>
          <!-- <button class="right btn"><i class="material-icons">+</i></button> -->
          <a href="#" data-target="slide-out" 
          class="sidenav-trigger right btn-floating btn-large pink accent-2"><i class="material-icons">menu</i></a>
        </div>
        <!-- side nav -->
        <%- include('sidenav') -%>

      </div>
    </div>
  </div>
